html,body{
	width:100%;
}
@media (min-width: 768px) {
	.navbar-collapse .navbar-right .form-group{
		padding-right:15px;
	}
}
.content{
	width:100%;
	overflow:auto;
}
.content table{
	width:auto;
	border:0px;
}
.content table td {
	white-space:nowrap;
}

.content thead th {
	white-space:nowrap;
    position:relative;
	background-color:lightgrey;
}
.footer{
	padding-left:15px;
	padding-right:15px;
}
.spin{
	padding:8px;
}
#spinDiv{
	position: relative;
	color: white;
	float: left;
	text-align:middle;
	width: 32px;
	height: 32px;
	margin: 0;
}
