<style type="text/css">
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}

	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.form-signin .form-signin-heading,
	.form-signin .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin .input-group {
		width:100%;
	}
	.form-signin button {
		margin-top: 10px;
	}
	.form-signin .input-group-addon{
		width:40px;
	}

</style>
<script>
	if(top.location.href!=document.location.href){
	  top.location.href = document.location.href;
	}
	app.config(['$translateProvider', function ($translateProvider) {
		$translateProvider.translations('en', {
			"TITLE": "login",
			"FORM_TITLE":"Please sign in",
			"USER_NAME_HINT":"User name",
			"PWD_HINT":"Password",
			"SIGN_IN_BUTTON":"Sign in",
			"ERROR":"The user name or password invalid"
		}).translations('cn', {
	    	"TITLE": "登录",
			"FORM_TITLE":"请登录",
			"USER_NAME_HINT":"用户名",
			"PWD_HINT":"密码",
			"SIGN_IN_BUTTON":"登录",
			"ERROR":"用户名或者密码无效"
		}).registerAvailableLanguageKeys(['en', 'cn'], {
			'en_US': 'en',
			'en_UK': 'en',
			'zh_CN': 'cn',
			'zh_cn': 'cn'
		}).determinePreferredLanguage();

	}]);
	app.controller('MainCtrl', ['$scope', '$http','$window','$translate',function($scope,$http,$window,$translate) {
		$scope.test =$translate.preferredLanguage();
		$scope.userName = '';
		$scope.password = '';
		$scope.error = null;
		$translate('TITLE').then(function (title) {
			document.title=title;
		});
		$scope.auth=function(){
			$http.post(<#url "login.auth"#>,{userName:$scope.userName,password:$scope.password})
				.success(function(data,status,headers,config,statusText){
					if(data.ok){
						$window.location = <#url "home.show"#>;
					}else{
						$translate('ERROR').then(function (err) {
							$scope.error=err;
						});
					}
				})
				.error(function(data,status,headers,config,statusText){
					$scope.error = data;
				});
		}
	}]);
</script>
<div class="container" ng-controller="MainCtrl" >
	<form name="frmLogin" class="form-signin" role="form" novalidate>
		<h2 class="form-signin-heading" translate>FORM_TITLE</h2>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-user"></i></div>
			<input type="text" class="form-control" placeholder="{{ 'USER_NAME_HINT' | translate }}" required autofocus ng-model="userName" ng-change="error=null"></input>
		</div>
		<div class="input-group">
			<div class="input-group-addon" ><i class="fa fa-key"></i></div>
			<input type="password" class="form-control" placeholder="{{ 'PWD_HINT' | translate }}" required ng-model="password" ng-change="error=null"></input>
		</div>
		<p class="text-danger" ng-show="error">{{error}}</p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="auth()" ng-disabled="frmLogin.$invalid" translate>SIGN_IN_BUTTON</button>
	</form>
</div>
