<#set . "Translate_en" mkMap#>
<#set .Translate_en "TITLE" "login"#>
<#set .Translate_en "FORM_TITLE" "Please sign in"#>
<#set .Translate_en "USER_NAME_HINT" "User name"#>
<#set .Translate_en "PWD_HINT" "Password"#>
<#set .Translate_en "SIGN_IN_BUTTON" "Sign in"#>
<#set .Translate_en "ERROR" "The user name or password invalid"#>

<#set . "Translate_cn" mkMap#>
<#set .Translate_cn "TITLE" "登录"#>
<#set .Translate_cn "FORM_TITLE" "请登录"#>
<#set .Translate_cn "USER_NAME_HINT" "用户名"#>
<#set .Translate_cn "PWD_HINT" "密码"#>
<#set .Translate_cn "SIGN_IN_BUTTON" "登录"#>
<#set .Translate_cn "ERROR" "用户名或者密码无效"#>

<#template "ngheader.html" .#>
<style type="text/css">
	body {
		padding-top: 40px;
		padding-bottom: 40px;
		background-color: #eee;
	}

	.form-signin {
		max-width: 330px;
		padding: 15px;
		margin: 0 auto;
	}
	.form-signin .form-control {
		position: relative;
		height: auto;
		-webkit-box-sizing: border-box;
		   -moz-box-sizing: border-box;
		        box-sizing: border-box;
		padding: 10px;
		font-size: 16px;
	}
	.form-signin .form-control:focus {
		z-index: 2;
	}
	.form-signin .input-group {
		width:100%;
	}
	.form-signin button {
		margin-top: 10px;
	}

</style>
<script>
	if(top.location.href!=document.location.href){
	  top.location.href = document.location.href;
	}
	app.controller('MainCtrl', ['$scope', '$http','$window','$translate',function($scope,$http,$window,$translate) {
		$scope.test =$translate.preferredLanguage();
		$scope.userName = '';
		$scope.password = '';
		$scope.error = null;
		$translate('TITLE').then(function (title) {
			document.title=title;
		});
		$scope.auth=function(){
			$http.post(<#url "login.auth"#>,{userName:$scope.userName,password:$scope.password})
				.success(function(data,status,headers,config,statusText){
					if(data.ok){
						$window.location = <#url "home.default"#>+"?_ele=home_default";
					}else{
						$translate('ERROR').then(function (err) {
							$scope.error=err;
						});
					}
				})
				.error(function(data,status,headers,config,statusText){
					$scope.error = data;
				});
		}
	}]);
</script>
<div class="container" ng-controller="MainCtrl" >
	<form name="frmLogin" class="form-signin" role="form" novalidate>
		<h2 class="form-signin-heading" translate>FORM_TITLE</h2>
		<div class="input-group">
			<div class="input-group-addon"><i class="fa fa-user fa-fw"></i></div>
			<input type="text" class="form-control" placeholder="{{ 'USER_NAME_HINT' | translate }}" required autofocus ng-model="userName" ng-change="error=null"></input>
		</div>
		<div class="input-group">
			<div class="input-group-addon" ><i class="fa fa-key fa-fw"></i></div>
			<input type="password" class="form-control" placeholder="{{ 'PWD_HINT' | translate }}" required ng-model="password" ng-change="error=null"></input>
		</div>
		<p class="text-danger" ng-show="error">{{error}}</p>
		<button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="auth()" ng-disabled="frmLogin.$invalid" translate>SIGN_IN_BUTTON</button>
	</form>
</div>
<#template "ngfooter.html" .#>
