<#if not .G#>
	<#set . "G" mkMap#>
<#end#>
<#set .G "pjLogoutUrl" (url "login.logout")#>
<#set .G "dept" (.c.Session.Get "user.dept")#>
<#set .G "deptData" .deptData#>
<#set .G "pjSwitchDeptUrl" (authUrl "home.switch_dept")#>
<#set .G "userName" (.c.Session.Get "user.name")#>

<#if not .PackCSSDest#>
	<#set . "PackCSSDest" "/public/css/pjheader_pack.css"#>
<#end#>
<#if not .PackJSDest#>
	<#set . "PackJSDest" "/public/js/pjheader_pack.js"#>
<#end#>
<#if not .Translate_en#>
	<#set . "Translate_en" mkMap#>
<#end#>

<#set .Translate_en "PROJECT_LABEL" .c.Project.DisplayLabel.en#>
<#set .Translate_en "LANGUAGE" "Language"#>
<#set .Translate_en "EN" "English"#>
<#set .Translate_en "CN" "Simplified Chinese"#>
<#set .Translate_en "CLOSE" "Close"#>
<#set .Translate_en "ELEMENT_CATEGORY" .c.Tag.Element.category_en_clear#>
<#set .Translate_en "ELEMENT_LABEL" .c.Tag.Element.label_en_clear#>
<#set .Translate_en "Title" .c.Tag.Element.label_en_clear#>
<#set .Translate_en "LOGOUT" "Logout"#>

<#if not .Translate_cn#>
	<#set . "Translate_cn" mkMap#>
<#end#>
<#set .Translate_cn "PROJECT_LABEL" .c.Project.DisplayLabel.cn#>
<#set .Translate_cn "LANGUAGE" "语言"#>
<#set .Translate_cn "EN" "英语"#>
<#set .Translate_cn "CN" "简体中文"#>
<#set .Translate_cn "CLOSE" "关闭"#>
<#set .Translate_cn "ELEMENT_CATEGORY" .c.Tag.Element.category_cn_clear#>
<#set .Translate_cn "ELEMENT_LABEL" .c.Tag.Element.label_cn_clear#>
<#set .Translate_cn "Title" .c.Tag.Element.label_cn_clear#>
<#set .Translate_cn "LOGOUT" "重新登录"#>

<#append . "OtherPackPublicJS" "public/js/abn_tree_directive.js"#>
<#append . "OtherPackStaticJS" (static "pjheader/page.js")#>

<#append . "OtherPackPublicCSS" "/public/css/abn_tree.css"#>
<#append . "OtherPackStaticCSS" (static "pjheader/page.css")#>

<#append . "OtherJSFiles" (userFile "sys/curele.js")#>
<#append . "OtherDependencys" "angularBootstrapNavTree"#>
<#template "ngheader.html" .#>
<script type="text/ng-template" id="aside-template.html">
<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">{{asideTitle}}</h4>
      </div>
      <div class="aside-body" ng-bind="content"></div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate >CLOSE</button>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/ng-template" id="language-list.html">
<ul class="dropdown-menu">
	<li><a href="" ng-click="changeLanguage('en')"><img src=<#static "img/flags/en.png"#>></img>&nbsp;<span translate>EN</span></a></li>
	<li><a href="" ng-click="changeLanguage('cn')"><img src=<#static "img/flags/zhcn.png"#>></img>&nbsp;<span translate>CN</span></a></li>
</ul>
</script>
<script type="text/ng-template" id="dept-list.html">
<ul class="dropdown-menu">
	<li ng-repeat="item in deptMenuNodes" ng-class="{divider:item.divider}"><a href="" ng-click="selectDept(item)" ng-if="!item.divider") >{{item.label}}</a></li>
	<li class="divider"></li>
	<li><a href="{{logoutUrl}}"><i class="fa fa-sign-out"></i>{{'LOGOUT'|translate}}</a></li>
</ul>
</script>
<script type="text/ng-template" id="left.html">
<div class="leftContent">
	<abn-tree tree-data="activeTopItem.children" icon-leaf="fa fa-angle-right" on-select="my_tree_handler(branch)"></abn-tree>
</div>
</script>

<div class="navbar navbar-inverse navbar-static-top" role="navigation" ng-controller="navbarCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand navbar-left" ><i class="fa fa-home"></i> <span translate>PROJECT_LABEL</span></div>
		</div>
		<div class="navbar-collapse collapse" ng-class="{'in':!navCollapsed}">
			<ul class="nav navbar-nav navbar-left">
				<li ng-repeat="item in elementTrees.children" ng-click="topClick(item)">
					<a href="">{{item.label}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="" data-animation="am-flip-x" bs-dropdown data-template="dept-list.html" data-placement="bottom-left" data-container="body"><i class="fa fa-user"></i> <span><#.c.Session.Get "user.name"#> {{dept.label}}</span></a>
				</li>
				<li class="hidden-xs">
					<a href="" data-animation="am-flip-x" bs-dropdown data-placement="bottom-right" data-template="language-list.html" data-container="body"><i class="fa fa-align-justify"></i> <span translate>LANGUAGE</span></a>
				</li>
				<li class="visible-xs">
					<a href="" data-animation="am-flip-x" bs-dropdown data-placement="bottom-left" data-template="language-list.html" data-container="body"><i class="fa fa-align-justify"></i> <span translate>LANGUAGE</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="nav-path">{{('ELEMENT_CATEGORY'|translate).replace("/","->")+'->'+('ELEMENT_LABEL'|translate)}}</div>
<div ng-if="!finishedMessage">
