<#if not .G#>
	<#set . "G" mkMap#>
<#end#>
<#set .G "rv_dataAction" (authUrl "rv.fetch" .c.Tag.Element.name)#>
<#set .G "rv_watchAction" (authUrl "watch.rv" .recordView.uuid)#>
<#set .G "rv_define" .recordView#>

<#if not .Translate_en#>
	<#set . "Translate_en" mkMap#>
<#end#>
<#set .Translate_en "Title" .recordView.addition_title_en#>
<#set .Translate_en "SEARCH" "Search"#>
<#set .Translate_en "OPT_PREX" "Prefix"#>
<#set .Translate_en "OPT_EQ" "Equal"#>
<#set .Translate_en "OPT_LIKE" "Like"#>
<#set .Translate_en "OPT_NE" "NotEqual"#>
<#set .Translate_en "OPT_LT" "LessThan"#>
<#set .Translate_en "OPT_LE" "LTE"#>
<#set .Translate_en "OPT_GT" "GreaterThan"#>
<#set .Translate_en "OPT_GE" "GTE"#>
<#set .Translate_en "OPT_IN" "In"#>
<#set .Translate_en "OPT_NIN" "NotIn"#>
<#set .Translate_en "OPT_REGEXP" "RegExp"#>
<#set .Translate_en "OPT_SUFX" "Suffix"#>

<#set .Translate_en "NO" "NO."#>
<#set .Translate_en "START_TIME" "Start Time"#>
<#set .Translate_en "TIME_CONSUMING" "Time consuming"#>
<#set .Translate_en "TOTAL" "Total"#>
<#set .Translate_en "FETCH" "Fetch"#>
<#set .Translate_en "SELECT" "Select"#>
<#set .Translate_en "NEXT" "Next"#>
<#set .Translate_en "RECORDBTN_TITLE" "'s process button"#>
<#set .Translate_en "OfflineTooltip" "the network offline?click to refresh"#>

<#if not .Translate_cn#>
	<#set . "Translate_cn" mkMap#>
<#end#>
<#set .Translate_cn "Title" .recordView.addition_title_cn#>
<#set .Translate_cn "SEARCH" "搜索"#>
<#set .Translate_cn "OPT_PREX" "前缀"#>
<#set .Translate_cn "OPT_EQ" "等于"#>
<#set .Translate_cn "OPT_LIKE" "包含"#>
<#set .Translate_cn "OPT_NE" "不等于"#>
<#set .Translate_cn "OPT_LT" "小于"#>
<#set .Translate_cn "OPT_LE" "小于等于"#>
<#set .Translate_cn "OPT_GT" "大于"#>
<#set .Translate_cn "OPT_GE" "大于等于"#>
<#set .Translate_cn "OPT_IN" "在列表"#>
<#set .Translate_cn "OPT_NIN" "不在列表"#>
<#set .Translate_cn "OPT_REGEXP" "正则"#>
<#set .Translate_cn "OPT_SUFX" "后缀"#>
<#set .Translate_cn "NO" "序号"#>
<#set .Translate_cn "START_TIME" "开始时间"#>
<#set .Translate_cn "TIME_CONSUMING" "耗时"#>
<#set .Translate_cn "TOTAL" "记录总数"#>
<#set .Translate_cn "FETCH" "已经获取"#>
<#set .Translate_cn "SELECT" "选择"#>
<#set .Translate_cn "NEXT" "下一批"#>
<#set .Translate_cn "RECORDBTN_TITLE" "的操作"#>
<#set .Translate_cn "OfflineTooltip" "网络断线，点击尝试重新刷新"#>
<#append . "OtherJSFiles" (static "recordview/page.js")#>

<#template "pjheader.html" .#>
<link rel="stylesheet" type="text/css" href="<#static "recordview/page.css"#>">
<script type="text/ng-template" id="process.html">
<ul class="dropdown-menu">
	<li ng-repeat="oneButton in define.btn|filter:{bindrecord:false}"><a ng-href="{{oneButton.url}}" target="_blank" ng-bind-html="oneButton['label_'+$translate.use()]||oneButton.label_en||oneButton.label_cn"></a></li>
</ul>
</script>
<script type="text/ng-template" id="privateTemplate.html">
<ul class="dropdown-menu">
	<li><a href="">test1</a></li>
	<li><a href="">test1</a></li>
	<li><a href="">test1</a></li>
	<li><a href="">test1</a></li>
</ul>
</script>
<script type="text/ng-template" id="recordBtnTemplate.html">
<div class="popover">
	<div class="arrow"></div>
	<h3 class="popover-title">
		<strong>{{pkValues}}</strong>{{"RECORDBTN_TITLE"|translate}}
		<button type="button" class="close" ng-click="$hide()">
			<span aria-hidden="true">&times;</span>
			<span class="sr-only">Close</span>
		</button>
	</h3>
	<div class="popover-content text-center">
		<a class="btn btn-default btn-sm" ng-repeat="(btnIndex,oneButton) in btn" ng-click="$hide()" ng-href="{{oneButton.url}}" target="_blank" ng-bind-html="oneButton['label_'+$translate.use()]||oneButton.label_en||oneButton.label_cn"></a>
	</div>
</div>
</script>
<div id="mainCtrl" ng-controller="mainCtrl">
	<nav role="navigation" class="navbar navbar-default" ng-style="navbarStyle">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
			<div ng-show="pending==0" class="navbar-brand navbar-left" data-animation="am-flip-x" bs-dropdown data-template="process.html" data-placement="bottom-left" data-container="body">
				<a href="">
					<i class="fa fa-th"></i>
				</a>
			</div>
			<div class="navbar-brand navbar-left spin" ng-show="pending>0">
				<div id="spinDiv"></div>
			</div>
	        <button type="button" ng-click="navCollapsed = !navCollapsed" class="navbar-toggle">
	            <span class="sr-only">Toggle navigation</span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	        </button>
	    </div>
	    <!-- Collection of nav links and other content for toggling -->
	    <div class="collapse navbar-collapse"  ng-class="{'in':!navCollapsed}">
			<form class="navbar-form navbar-left" role="search">
				<select class="form-control" ng-model="search.field" ng-options="column.displayName[$translate.use()] for column in data.columns track by column.fieldName">
					<option value=""></option>
				</select>
				<select class="form-control" ng-model="search.opt" ng-options="item|translate for item in searchOpts">
				</select>
				<input type="text" class="form-control" placeholder="{{'SEARCH'|translate}}" ng-model="search.value"/>
				<button type="submit" class="btn btn-default" ng-click="refreshData()" ng-disabled="pending" ng-show="!offline">
					<i class="fa fa-search"></i>
				</button>
				<button type="submit" class="btn btn-default" ng-click="refreshData()" ng-disabled="pending" ng-show="offline" data-container='body' data-animation="am-flip-x" bs-tooltip data-title="{{'OfflineTooltip'|translate}}">
					<i class="fa fa-exclamation text-danger"></i>
				</button>
			</form>
			<form class="navbar-form navbar-right" role="search">
				<div class="form-group">
					<label>模板(公):</label>
					<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
					<a class="btn btn-default" target="_blank" href=<#authUrl (print "rv/show?_ele=rvterm_public&addition=" (urlquery .recordView.publicSettingID))#>><i class="fa fa-pencil-square-o"></i></a>
				</div>
				<div class="form-group">
					<label>私:</label>
					<select class="form-control">
					  <option>1</option>
					  <option>2</option>
					  <option>3</option>
					  <option>4</option>
					  <option>5</option>
					</select>
					<a class="btn btn-default" target="_blank" href=<#authUrl (print "rv/show?_ele=rvterm_private&addition=" (urlquery .recordView.privateSettingID))#>><i class="fa fa-pencil-square-o"></i></a>
				</div>
			</form>
	    </div>
	</nav>
	<div class="content">
		<div class="fetchinfo">
		{{'START_TIME'|translate}}:{{fetchInfo.startTime| date:'yyyy-MM-dd HH:mm:ss'}} {{'TIME_CONSUMING'|translate}}:{{fetchInfo.time}} ms
		{{'FETCH'|translate}}:{{data.data.length}}
		{{'TOTAL'|translate}}:{{data.total}}
		</div>
		<table id="tabData" class="table table-striped table-bordered table-hover">
			<thead>
				<tr ng-if="data.columns.length>0">
					<th ng-style="thStyle">{{'NO'|translate}}</th>
					<th ng-style="thStyle">{{'SELECT'|translate}}</th>
					<th ng-repeat="column in data.columns" ng-style="thStyle" ng-class="{notallowed:pending!=0,allowed:pending==0}" ng-click="thClick(column)">
					{{column.displayName[$translate.use()]}}&nbsp;<i ng-if="getSort(column.fieldName)" class="fa ng-class:{'fa-caret-up':getSort(column.fieldName)&&getSort(column.fieldName).type=='ASC','fa-caret-down':getSort(column.fieldName)&&getSort(column.fieldName).type=='DESC'}"></i>
					</th>
				</tr>
			</thead>
			<tbody >
				<tr ng-repeat="(itemIndex,item) in data.data track by getItemPK(item)" ng-class="{highlight:selected==item}" ng-click="selectedRow(item,$event)">
					<td class="nocolumn" >{{itemIndex+1}}</td>
					<td align="center">
						<input type="checkbox"/>
					</td>
					<td ng-repeat="column in data.columns" >
						{{item[column.fieldName]}}
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="divHScroll">
		<div class="data"></div>
	</div>
</div>
<#template "pjfooter.html" .#>
