<#append . "OtherJSFiles" (static "home/abn_tree_directive.js")#>

<#append . "OtherCSSFiles" (static "home/abn_tree.css")#>
<#append . "OtherCSSFiles" (static "home/home.css")#>

<#append . "OtherDependencys" "angularBootstrapNavTree"#>
<#template "ngheader.html" .#>
<script src='<#userfile "sys/curele.js" #>'></script>
<script src='<#static "home/home.js" #>'></script>
<script>
app.config(['$translateProvider', function ($translateProvider) {
	$translateProvider.translations('en', {
		"PROJECT_LABEL": <#.c.Project.DisplayLabel.en#>,
		"LANGUAGE":"Language",
		"EN":"English",
		"CN":"Simplified Chinese",
		"Close":"Close"
	}).translations('cn', {
		"PROJECT_LABEL": <#.c.Project.DisplayLabel.cn#>,
		"LANGUAGE":"语言",
		"EN":"英语",
		"CN":"简体中文",
		"Close":"关闭"
	}).registerAvailableLanguageKeys(['en', 'cn'], {
		'en_US': 'en',
		'en_UK': 'en',
		'zh_CN': 'cn',
		'zh_cn': 'cn'
	}).determinePreferredLanguage();
}]);
app.controller('mainCtrl', ['$translate', '$scope','$rootScope','$location','$aside','$alert','$http',function ($translate, $scope,$rootScope,$location,$aside,$alert,$http) {
	document.title=<#.c.Project.Name#>;
	var leftAside = $aside({
		scope: $scope,
		title:"select menu",
		animation:"am-slide-left",
		show:false,
		placement:"left",
		template:"aside-template.html",
		contentTemplate: "left.html"
	});
	$scope.elementTrees = toTree(CurrentUserElement());
	$scope.dept = <#(.c.Session.Get "user.dept")#>;
	$scope.deptMenuNodes =toDeptMenus(<#.deptData#>,$scope.dept);
	$scope.navCollapsed = true;

	swithDeptLag([$scope.dept],$translate.use());
	swith_lag($scope.elementTrees,$translate.use());
	swithDeptLag($scope.deptMenuNodes,$translate.use());

	if($location.path()==""){
		$location.path($scope.elementTrees.children[0].path);
	}
	$scope.changeLanguage = function (langKey) {
		$translate.use(langKey);
		swith_lag($scope.elementTrees,langKey);
		swithDeptLag([$scope.dept],langKey);
		swithDeptLag($scope.deptMenuNodes,langKey);
	};
	$scope.onMenuSelectChange=function(){
		if($scope.activeMenu&&$scope.activeMenu.data &&$scope.activeMenu.data.url ){
			var url = "/"+<#.c.Project.Name#>+"/" + $scope.activeMenu.data.url;
			console.log(url);
			$("#frmContent").attr("src",url);
		}
	}
    $scope.$on('$locationChangeSuccess', function () {
		if($location.path().length > 0){
			$scope.activeTopItem= $scope.elementTrees.findById($location.path().split("/").slice(1,2));
			$scope.activeMenu = $scope.elementTrees.findByPath($location.path());
			$scope.activeTopItem.selectNode($scope.activeMenu);
			clearOtherSelect($scope.elementTrees,$scope.activeMenu);
			$scope.onMenuSelectChange();
		}
    });
	$scope.topClick=function(item){
		$location.path(item.path);
		if($rootScope.viewport=="xs"){
			$scope.navCollapsed = true;
			if(item){
				$scope.asideTitle = item.label;
				leftAside.$promise.then(function() {
	   				leftAside.show();
				});
			}
		}
	};
	$scope.my_tree_handler=function(item){
		if(item.data){
			if($rootScope.viewport=="xs"){
				leftAside.$promise.then(function() {
		  			leftAside.hide();
				});
			}
			if(item.path == $location.path()){
				$scope.onMenuSelectChange();
			}else{
				$location.path(item.path);
			}
		}else{
			$scope.activeTopItem.selectNode($scope.activeMenu);
			clearOtherSelect($scope.elementTrees,$scope.activeMenu);
		}
	}

	$scope.selectDept=function(item){
		$http.post(<#authurl "home.switch_dept"#>,{dept:item,userName:<#.c.Session.Get "user.name"#>})
			.success(function(data,status,headers,config,statusText){
				if(data.ok){
					$scope.dept = item;
					$scope.deptMenuNodes =toDeptMenus(data.deptData,item);
					swithDeptLag([$scope.dept],$translate.use());
					swithDeptLag($scope.deptMenuNodes,$translate.use());
				}else{
					$alert({title: 'error', content:data.error, placement: 'top-right', type: 'danger', show: true});
				}
			})
			.error(function(data,status,headers,config,statusText){
				$alert({title: 'error1', content:data + "status:" + status+",statusText:" + statusText, placement: 'top-right', type: 'danger', show: true});
			});
	}

}]);
</script>
<script type="text/ng-template" id="aside-template.html">
<div class="aside" tabindex="-1" role="dialog">
  <div class="aside-dialog">
    <div class="aside-content">
      <div class="aside-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="aside-title">{{asideTitle}}</h4>
      </div>
      <div class="aside-body" ng-bind="content"></div>
      <div class="aside-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()" translate >Close</button>
      </div>
    </div>
  </div>
</div>
</script>
<script type="text/ng-template" id="language-list.html">
<ul class="dropdown-menu">
	<li><a href="" ng-click="changeLanguage('en')"><img src=<#static "img/flags/en.png"#>></img>&nbsp;<span translate>EN</span></a></li>
	<li><a href="" ng-click="changeLanguage('cn')"><img src=<#static "img/flags/zhcn.png"#>></img>&nbsp;<span translate>CN</span></a></li>
</ul>
</script>
<script type="text/ng-template" id="dept-list.html">
<ul class="dropdown-menu">
	<li ng-repeat="item in deptMenuNodes" ng-class="{divider:item.divider}"><a href="" ng-click="selectDept(item)" ng-if="!item.divider") >{{item.label}}</a></li>
</ul>
</script>
<script type="text/ng-template" id="left.html">
<div class="leftContent">
	<abn-tree tree-data="activeTopItem.children" icon-leaf="fa fa-angle-right" on-select="my_tree_handler(branch)"></abn-tree>
</div>
</script>

<div ng-controller="mainCtrl" style="height:100%">
<div class="navbar navbar-inverse ng-class:{'navbar-fixed-top':viewport!='xs','navbar-static-top':viewport=='xs'}" role="navigation">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand navbar-left" ><i class="fa fa-home"></i> <span translate>PROJECT_LABEL</span></div>
		</div>
		<div class="navbar-collapse collapse" ng-class="{'in':!navCollapsed}">
			<ul class="nav navbar-nav navbar-left">
				<li ng-repeat="item in elementTrees.children" ng-class="{ active: activeTopItem==item}" ng-click="topClick(item)">
					<a href="">{{item.label}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="" data-animation="am-flip-x" bs-dropdown data-template="dept-list.html" data-placement="bottom-left" data-container="body"><i class="fa fa-user"></i> <span><#.c.Session.Get "user.name"#> {{dept.label}}</span></a>
				</li>
				<li class="hidden-xs">
					<a href="" data-animation="am-flip-x" bs-dropdown data-placement="bottom-right" data-template="language-list.html" data-container="body"><i class="fa fa-align-justify"></i> <span translate>LANGUAGE</span></a>
				</li>
				<li class="visible-xs">
					<a href="" data-animation="am-flip-x" bs-dropdown data-placement="bottom-left" data-template="language-list.html" data-container="body"><i class="fa fa-align-justify"></i> <span translate>LANGUAGE</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<div class="container-fluid ng-class:{padtop:viewport!='xs'}" style="height:100%">
	<div class="row" style="height:100%">
		<div class="col-sm-3 col-md-2 sidebar slide-animate">
			<div  ng-include="'left.html'">
			</div>
		</div>
		<div id="main" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="height:100%">
		<iframe id="frmContent" src="<#authurl .defaultUrl#>" frameborder="0" style="overflow:hidden;height:100%;width:100%" height="100%" width="100%"></iframe>
		</div>
	</div>

</div><!-- /.container -->
</div>
<#template "ngfooter.html" .#>
