<style type="text/css">
.navbar-header button{
	float:left;
}
.dropdown-menu > li > a > img {
	margin-right: 8px;
	vertical-align: -35%;
	width: 24px;
	padding-right: 0;
	margin-top: 0;
}
</style>
<script>
	var Elements=<#.CurrentUserElement#>;
	var TopCategorys=[];
	var TopCategorysEn={};
	var TopCategorysZh_cn={};
	var i =0;
	for(item in Elements){
		i++;
		en = Elements[item].category_en.split("/")[0];
		cn = Elements[item].category_zh_cn.split("/")[0];
		name = "top_"+i;
		TopCategorys.push({
			name:name,
			category_en:en,
			category_zh_cn:cn
		});
		TopCategorys = _.sortBy(TopCategorys,"category_en");
		TopCategorysEn[name] = _.last(en.split("."));
		TopCategorysZh_cn[name] = _.last(cn.split("."));
	}
	app.config(['$translateProvider', function ($translateProvider) {
		$translateProvider.translations('en', {
			"DEPT_LABEL":<#.c.Session.Get "_dept.label_en"#>,
			"PROJECT_LABEL": <#.c.Project.DisplayLabel.en#>,
			"LANGUAGE":"Language",
			"EN":"English",
			"ZH_CN":"Simplified Chinese",
			"TOP_CATEGORY":TopCategorysEn
		});

		$translateProvider.translations('zh_CN', {
			"DEPT_LABEL":<#.c.Session.Get "_dept.label_zh_cn"#>,
			"PROJECT_LABEL": <#.c.Project.DisplayLabel.zh_CN#>,
			"LANGUAGE":"语言",
			"EN":"英语",
			"ZH_CN":"简体中文",
			"TOP_CATEGORY":TopCategorysZh_cn
		});
		$translateProvider.determinePreferredLanguage();
	}]);
	app.controller('navbarCtrl', ['$translate', '$scope','$rootScope', function ($translate, $scope,$rootScope) {
		var SetTitle=function (label) {
			document.title='<#.c.Project.Name#> - <#.c.Session.Get "_user.name"#> [<#.c.Session.Get "_dept.name"#> - ' + label +']';
		};
		$translate('DEPT_LABEL').then(SetTitle);
		$rootScope.$on('$translateChangeSuccess', function () {
			$translate('DEPT_LABEL').then(SetTitle);
		});
		$scope.changeLanguage = function (langKey) {
			$translate.use(langKey);
		};
		$scope.topMenus= TopCategorys;
	}]);
</script>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation" ng-controller="navbarCtrl">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<div class="navbar-brand navbar-left" ><i class="icon-home"></i> <span class="hidden-xs" translate>PROJECT_LABEL</span><span class="visible-xs-inline"><#.c.Project.Name#></span></div>
		</div>
		<div class="navbar-collapse collapse" ng-class="{'in':!navCollapsed}">
			<ul class="nav navbar-nav navbar-left">
				<li ng-repeat="item in topMenus">
					<a href="#" translate>TOP_CATEGORY.{{item.name}}</a>
				</li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li class="hidden-xs">
					<a href="#" data-animation="am-flip-x" bs-dropdown data-placement="bottom-right" data-template="language-list.html" data-container="body"><i class="icon-align-justify"></i> <span translate>LANGUAGE</span></a>
				</li>
				<li class="visible-xs">
					<a href="#" data-animation="am-flip-x" bs-dropdown data-placement="bottom-left" data-template="language-list.html" data-container="body"><i class="icon-align-justify"></i> <span translate>LANGUAGE</span></a>
				</li>
			</ul>
		</div>
	</div>
</div>
<script type="text/ng-template" id="language-list.html">
	<ul class="dropdown-menu">
		<li><a href="" ng-click="changeLanguage('en')"><img src=<#static "img/flags/en.png"#>></img>&nbsp;<span translate>EN</span></a></li>
		<li><a href="" ng-click="changeLanguage('zh_CN')"><img src=<#static "img/flags/zhcn.png"#>></img>&nbsp;<span translate>ZH_CN</span></a></li>
	</ul>
</script>

<div class="container">

<div class="starter-template">
<h1>Bootstrap starter template</h1>
<p class="lead">Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
</div>

</div><!-- /.container -->
